<!DOCTYPE html>
<html>
<head>
  <title>Vue.js app</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
 
  <style>
    .warn{background-color: mistyrose}
    textarea{width:80%;height:100px}
  </style>
</head>
<body>
    <div id="app">
      <!-- <textarea v-model="memeText" :class="{warn: longText}" :maxlength="limit"></textarea> -->
      <textarea v-model="memeText" :class="classes" :maxlength="limit"></textarea>
      {{memeText.length}} / 200
    </div>
  <script>
    var app = new Vue({
    	el: '#app',
    	data:{
            memeText: 'What if I told you ' +  'CSSS can do that',
            limit: 200,
            // classes:{
            //     warn : true
            // }
        },
        computed:{
            longText(){
                if(this.limit - this.memeText.length <=10){
                    return true
                }else{
                    return false
                }
            },
            classes(){
                const longText = this.limit - this.memeText.length <= 10
                return {
                    warn: longText
                }
            }
        }

    })
  </script>
</body>
</html>